

.box1{
    background-color: aqua;
    width: 250px;
    height: 250px;

}
.box2{
    background-color: blue;
    width: 250px;
    height: 250px;
}


.parent{
     /* display: flex; */
     background-color: black;
     min-height: 100vh;
     /* justify-content: center; */
     /* justify-content: left; */
     /* justify-content: right; */
     /* justify-content: space-between; */
     /* justify-content: space-around; */
     /* justify-content: space-evenly; */

     /* align-items: center; */
     






     flex-direction: column ;
     align-items: right;
     justify-content: center;
     

}